In [1]:
#python basics
print("Hello world..!")

Hello world..!

In [2]:
#Basic data types

number1 = 1
number2 = 3


number1 , number2 = 10 , 20

In [3]:
number1

10

In [6]:
#booleans

3 < 1
type(1<3)

bool

In [8]:
n = "There are no character is python"

In [13]:
n[::-1].replace(" ","").lower()

'nohtypsiretcarahconeraereht'

In [14]:
str(25)

'25'

In [15]:
name = "What is your {}"

name.format(26)

'What is your 26'

In [17]:
name[:]

'What is your {}'

In [19]:
#variablename[start_value:end_value:step_size_value]

In [20]:
#Type casting

str(26)

'26'

In [24]:
6//2

3

In [25]:
2**3

8

In [ ]:
==
<
>

In [28]:
#conditional statements
num = 2
if num <1:
    print(num)
else:
    print("Else block")

Else block

In [1]:
# for loops

for i in range(0,5):
    print(i)

0
1
2
3
4

In [3]:
for number in range(5):
    print(number)

0
1
2
3
4

In [4]:
#while loops
num = 1
while(num<5):
    print(num)
    num+=1

1
2
3
4

In [5]:
list_of_values = ["a","b","c","d","e"]
list_index = 0
while(list_index<len(list_of_values)):
    print(list_of_values[list_index])
    list_index+=1

a
b
c
d
e

In [6]:
for outer_index in range(5):
    for inner_index in range(3):
        print(inner_index,outer_index)

0 0
1 0
2 0
0 1
1 1
2 1
0 2
1 2
2 2
0 3
1 3
2 3
0 4
1 4
2 4

In [15]:
#enumerate

for index,value in enumerate(range(10,1,-1)):
    print(f"{index} + + {value}")

0 + + 10
1 + + 9
2 + + 8
3 + + 7
4 + + 6
5 + + 5
6 + + 4
7 + + 3
8 + + 2

In [ ]:
#fibonocci series

first_number = 0
next_number = 1

num = int(input("Enter the number of series"))

In [ ]:
0 1 1 2 3 5 8 13


starting_value  = 0

In [16]:
#Functions

def calculate_age(year):
    print("Your age is {}".format(2023 - year))

calculate_age(1994)

Your age is 29

In [21]:
 n = [1,2,3,4,5,12,23,132,12,12,12,12,12,12,13,12,3124,123,134,134,]
    
print(*n)

1 2 3 4 5 12 23 132 12 12 12 12 12 12 13 12 3124 123 134 134

In [22]:
def age():
    return "Gokul", 1

return_Variable = age()

print(return_Variable[0])
print(return_Variable[1])

Gokul
1

In [24]:
#yield = "it is called as a resume reaction"

In [29]:
def a():
    for i in range(0,10):
        yield i
        
for number in a():
    print(number)

0
1
2
3
4
5
6
7
8
9

In [35]:
n = 10
a = 0
b = 1
for counter in range(0,10):
    print(a)
    a , b = b , a+b

0
1
1
2
3
5
8
13
21
34